.header-div {
  /* background-color: aqua; */
  height: 12vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;

  .header-logo-div {
    height: 8vh;
    background-color: brown;
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 20px;
    margin-left: 20px;
  }

}
